body {
  background-color: #fff;
  color: #555;
  margin: 0; padding: 0; }

body, p, ol, ul, td {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif normal;
  /*font-size: 13px;
  line-height: 18px;*/ }

h1, h2, h3, h5, h5, h6 { font-weight: bold; } 
  
div { margin: 0; padding: 0; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #d00;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #eee; }

img { border: none;}
  
a.admin {
  color: #393;
  font-weight: normal;
}
  
h1 { color: #444; margin-bottom: 30px; }
h2 { color: #444; margin-bottom: 20px; }

.help {
  margin: 0 20px; padding: 0; color: #999; font-size: 90%;}

#main {
  width: 800px;
  margin: 0 auto 10px auto;
  text-align: center; }

#header {
  height: 64px;
  margin: 0; padding: 0;
  text-align: left;
  background-color: #666;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius: 0 0 8px 8px; }
  #header ul.banner {
    margin: 0; padding: 20px;
    width: auto;
    list-style-type: none; }
    #header ul.banner li {
      margin: 0; padding: 0;
      text-align: left;
      display: inline; position: relative; }
    #header li.title {
      font-size: 22px; }
    #header #user_bar {
      float: right;
      margin-top: 24px;
      margin-right: 20px;
      font-size: 12px;
      text-align: right; }
    #header a {
      /*display: block; position: relative;*/
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      padding: 5px 10px;
      border: none;
      color: #fff;}
    #header li.selected a {
      background-color: #333; }
    #header li a:hover {
      background-color: #999;}

#content {
  margin-top: 40px;
  text-align: left; }

#footer {
  text-align: right; }

div.sidebar {
  float: right;
  margin: 0 0 20px 20px; }

/* a:visited { color: #666; }*/
/* a:hover { color: #fff; background-color: #000; }*/
/*
#home {
  margin: 10px 0;
  list-style-type: none;
  padding-top: 10px;
  border-top: 20px solid #0b0a32;
   }
  #home li.tab {
    display: inline;
    position: relative; }
  #home h2 {
    display: inline;
    margin: 0;
    padding: 0 20px;
    width: 30%; }
    */
/* http://www.alistapart.com/articles/horizdropdowns/ */
ul.drop_menu {
  position: absolute;
  left: 0px;
  top: 27px;
  width: 200px;
  z-index: 1;
  padding: 0;
  /*text-indent: -20px;*/
  background-color: #666;
  border: 3px solid #666;
  list-style-type: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;}
  ul.drop_menu li {
    position: relative;
    margin: 0; padding: 0;
    background-color: #666; width: 200px; }
    ul.drop_menu li a {
      display: block;
      margin: 0; padding: 0;
      width: 180px; }
    ul.drop_menu li a:hover {
      width: 180px;
      background-color: #666;}

#map_container {
  position: relative; }
  /*
  #map_container #map {
    position: absolute;
    top: 0;
    left: 0; }
  #map_container #map_help {
    text-align: right;
    color: #999; }*/
  a {
    color: inherit;
    font-weight: normal;
    border: none;
  }

div.account {
  margin: 0 auto;
  width: 30%; }

ul.listing {
  margin: 30px 0;
  padding: 0;
  list-style-type: none; }
  ul.listing li {
    margin: 10px 0;
    padding: 0; }

div.tip {
  background: #0b0a32;
  color: #fff;
  padding: 1px 4px; }
  
div.admin {
  margin-bottom: 30px; }
  
table {
  margin: 20px 0;
  padding: 0; }
  table tr { margin: 0; padding: 0; }
  table td, table th {
    padding-left: 0;
    padding-right: 15px; }
    
#home_center { position: relative; }
  #home_photos {
    position: absolute;
    z-index: 1;
    top: 180px; left: 10px;
    width: 200px; }

.embedded_form {
  border: 2px solid #ccc;
  padding: 5px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.flash {
  color: #393; /*#ffffcc;*/
  text-align: center; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }
